// GLOBAL VIRIABLES
$primary-font: 'Roboto', sans-serif;
$body-color:  #787878;
$body-font-size: 16px;

// SIDEBAR 
$sidebar-bg: #21252B;
$logo-bg: #354678;
$menu-bg-color: #21252B;
$submenu-bg: #2e3238;
$submenu-arrow-bg: #44484c;
$menu-item-color: #e9e9e9;
$menu-item-font-color: #e1e1e1;
$menu-item-bg-color: #21252B;
$menu-item-color-active: #fff;
$menu-item-bg-color-active: #337ab7;
$menu-item-bg-color-hover: #2b3038;
$submenu-item-bg-color-active: #555555;